--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.0+cu116
torchvision==0.13.1+cu116
diffusers==0.10.0
transformers
accelerate
ftfy
python-dotenv
altair
gradio
invisible-watermark
jinja2==3.0.3
sentencepiece
git+https://github.com/cloneofsimo/lora.git
https://github.com/C43H66N12O12S2/stable-diffusion-webui/releases/download/f/xformers-0.0.14.dev0-cp310-cp310-win_amd64.whl
